[2021-12-06 13:53] cpswan opened #20 "Open Source Atmosphere Pro"
It was agreed on the Developer Relations call last week that we should open source Atmosphere Pro (as it has overtaken Atmosphere in release to the market).

**Describe the solution you'd like**

- [x] Move repo to atsign-foundation
- [x] Ensure that community profile pieces are in place (from archetype repo) - README, CoC, contributing.md, LICENSE etc.
- [x] Ensure that code doesn't contain any s

[2021-12-29 08:01] pavitra-ga-tyf opened #28 "Group image is not reflecting"
@sachins-geekyants On adding group image should reflect on the group profile
<img width="1308" alt="Screenshot 2021-12-29 at 1 23 13 PM" src="https://user-images.githubusercontent.com/48277913/147640273-96eb6f96-8ca4-4552-93fd-4788c79dfb7b.png">
.

[2021-12-29 08:04] pavitra-ga-tyf opened #29 "File download"
@sachins-geekyants  On downloading the file the state should change to downloaded, instead it is showing download icon even after the file has been downloaded.

[2021-12-29 08:06] pavithragk opened #30 "Add confirmation message on file sent"

[2021-12-29 08:07] pavitra-ga-tyf opened #31 "Favourite contacts are not displaying/contacts are not being added to the favourite list."

[2021-12-29 08:16] pavitra-ga-tyf opened #32 "Create group"
@sachins-geekyants  While creating a group the same set of contacts are showing for other atsign as well after switching and trying to create the group in that atsign, refer the below video

https://user-images.githubusercontent.com/48277913/147641442-b3977f38-c1ca-49a1-b189-23064170c62e.mov

.

[2021-12-29 08:24] pavitra-ga-tyf opened #33 "Send button from the contact list is not working"

[2021-12-29 08:28] pavitra-ga-tyf opened #34 "Blocked contacts"
@sachins-geekyants  flickering is happening in this screen, please check

https://user-images.githubusercontent.com/48277913/147642276-ecafbbfa-58f3-4218-99c2-2a156deaaf02.mov

k

[2021-12-29 08:35] pavitra-ga-tyf opened #35 "Alignment issue"
<img width="396" alt="Screenshot 2021-12-29 at 2 04 30 PM" src="https://user-images.githubusercontent.com/48277913/147642814-f27900df-e4f3-4ac5-9508-2283803ed057.png">

[2022-03-01 00:34] cconstab opened #66 "@mospherePro on windows 11"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. First I '...'
2. Then I '...'
3. And then '...'
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information)

[2022-03-14 03:57] Intiserahmed opened #71 "Visual delete sender atsigns button Instead of double tap"
**Is your feature request related to a problem? Please describe.**
In MacOs version if we want to send multiple people then try to remove some people from the list it is super confusing how to do it without a visual button at first time.
![Screenshot 2022-03-14 at 9 52 15 AM](https://user-images.githubusercontent.com/57252940/158102382-b70017ac-e48c-4fdc-ac60-ab6ad4d296c1.png)

**Describe the solu

[2022-03-14 05:13] Intiserahmed opened #72 "Showing CircularProgresssIndicator infinitely After opening the app"
**Describe the bug**
After opening the app it showing circularprogressindicator for infinite amount of time even if I close the app forcely then restart my phone.

**Screenshots**

**Smartphone (please complete the following information):**
 - Device: [e.g. iPhone11]

https://user-images.githubusercontent.com/57252940/158108785-36796d51-278d-4a6e-b483-b48c1d56b2b0.mp4

 - OS: Android 11

**Were yo

[2022-03-14 05:40] cconstab commented on #72
What version of the app is this ? The one in Testflight ? App Store or built from what branch ?

Is the @ sign you are using working in other applications ok ?

Thanks

Colin

[2022-03-14 05:44] Intiserahmed commented on #72
It's from Google playstore version 1.0.2
As you can see there is no way I can input my atsign . When I open the app its directly show me the loading screen.

[2022-03-14 05:49] cconstab commented on #72
gotcha.. What you can try is to hit the reset button on the front screen and re pair

[2022-03-14 05:51] Intiserahmed commented on #72
I tried. None of the buttons are working.

[2022-03-14 05:57] cconstab commented on #72
OK last resort is uninstalling...  But @sarika01  might want to take a look first.. Thanks

[2022-03-23 15:24] murali-shris opened #79 "move filebin related methods out of SDK into app layer"
uploadFile, downloadFile methods in at_client_spec and impl should be moved to app layer

[2022-03-23 15:24] murali-shris commented on #79
@sachins-geekyants Once you move the method to app, I will deprecate the methods in at client SDK

[2022-03-24 11:43] sachins-geekyants commented on #79
all file services are moved to @ mospherePro app.
available in [this](https://github.com/atsign-foundation/atmosphere_pro/tree/feat/file-service-integration) branch.

currently being tested by @pavithragk .

[2022-04-04 13:14] sarika01 commented on #79
Requires publishing.

[2022-04-18 09:49] sachins-geekyants commented on #79
bin related methods are moved to app layer.

[2022-04-18 09:50] #79 closed

[2022-06-12 03:58] cconstab opened #132 "Not getting notifications of new files on Windows"
**Describe the bug**
Use Windows !
**To Reproduce**
Steps to reproduce the behavior:
1 I notice (sometimes the red dot but on MAC I get a real notification)

**Expected behavior**
I real windows notification

**Screenshots**
I noticed this is the logs it may help ?
[code]

**Smartphone (please complete the following information):**
 - Windows 11
 - Flutter 3.0.2
 - X86_64

**Were you using an @‎ap

[2022-06-14 08:56] ashwinexe commented on #35
Hey can you let me know what's the platform and OS was this issue you faced in?

[2022-06-16 05:24] cconstab commented on #132
User error !

Found config in windows to enable

[2022-06-16 05:24] #132 closed

[2022-08-09 23:27] allstar-app[bot] opened #171 "Security Policy violation Binary Artifacts"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Project is out of compliance with Binary Artifacts policy: binaries present in source code

**Rule Description**
Binary Artifacts are an increased security risk in your repository. Binary artifacts cannot be reviewed, allowing the introduction of possibly obsolete or maliciously su

[2022-08-10 08:19] cpswan commented on #171
@sachins-geekyants this looks like stuff that should be in `.gitignore`. Can you please confirm, and removed the binaries/directories.

[2022-08-11 08:16] #171 closed

[2022-08-24 17:22] CynthiaPeter opened #178 "AtmospherePro Mobile: File Picker error"
**What I tried to do**
I tried sending a photo from one atSign to another and I ended up with an error.

Below, I have attached screenshots and the error log.

![Image](https://user-images.githubusercontent.com/33583060/186482242-b43a3624-ee50-4129-8638-874916720c75.png)

https://user-images.githubusercontent.com/33583060/186482669-d801ae0c-9492-45f7-a153-52b8c6813a52.mp4

[2022-09-05 10:30] Pritam-deb opened #184 "Addition of + sign for contacts to be added in contact list in Atmosphere Pro"
**Describe the bug**
In atmosphere pro mobile, when a contact shares a file with you, if that contact is not added to your contact's list, you should get a `+` icon on top of that contact, to add it to your contacts list.

**To Reproduce**
1. Send a file from an unknown contact
2. From the receiving end try to add the sender to your contact list

**Expected behavior**
Users should be able to add t

[2022-09-05 10:33] Sardar1208 opened #185 "Sharing a file through atmosphere pro via gallery does not do anything"
**Describe the bug**
when we select a file in the phone gallery and click on share, Atmosphere pro comes up as an option. But clicking on it only opens the app without selecting the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Select an image in gallery and click on share
2. Select atmosphere pro

**Expected behavior**
The app should be opened and the file should be selected automat

[2022-09-06 00:46] nickelskevin opened #186 ""play" button should be removed from welcome_screen.png"
**Describe the bug**
The welcome_screen.png has a "play" button at the top of the image that leaves an impression that if you click it a video will play.

**Expected behavior**
Simple fix would be to edit the image and remove the "play" button from the image.

[2022-09-06 01:35] nickelskevin opened #187 "Add a contact from the received items screen"
**Is your feature request related to a problem? Please describe.**
When you receive a file from someone, their atSign is displayed on the the ListTile on the received items screen, even if they have not yet been added to my contacts. It would be nice If that were highlighted and one could directly add them to contacts.

**Describe the solution you'd like**
On the received items screen, highlight t

[2022-09-06 02:19] nickelskevin opened #188 "we may not want to rename files that start with "@""
**Describe the bug**
If you share a backup keys file (e.g. @14acidtechno_key.atKeys), then atmospherePro will rename it to "_14acidtechno_key.atKeys" which may be a feature or may be an issue.

**To Reproduce**
Open atMospherePro, select a keys backup file and send it to someone. You will notice that the leading "@" character has been replaced with "_".

**Expected behavior**
The expected behavior

[2022-09-06 15:45] #187 closed, assigned to nickelskevin, sachins-geekyants, nitesh2599

[2022-09-07 04:05] Pritam-deb commented on #184
PR: https://github.com/atsign-foundation/atmosphere_pro/pull/189

[2022-09-07 10:47] ayushkumarrojha commented on #184
@Pritam-deb

We have validated this feature with Atmosphere pro fix/add_unknown_contact on the below configuration. This feature is working as expected. However, we have observed that the clicking area of the "yes" and "no" buttons in add unknown contact widget is very large. PFA Screenshot for reference.

<img width="1118" alt="Screenshot 2022-09-07 at 3 52 38 pm" src="https://user-images.githubu

[2022-09-08 09:57] sachins-geekyants commented on #186
@rtilney Can you help us edit/replace the landing image.

https://xd.adobe.com/view/357d05ff-12f5-4b28-be03-cbbea758e018-602e/screen/f4bf798d-2483-4380-bed4-1a7b53bbdfd6/

[2022-09-08 10:00] sachins-geekyants commented on #188
FIlebin replaces characters which are not URL friendly to "_" after upload.

[2022-09-12 06:31] Sardar1208 commented on #185
This issue is fixed in Android here - https://github.com/atsign-foundation/atmosphere_pro/pull/191.
Although, the issue still persists in iOS. I am working on it.

[2022-09-14 04:05] ayushkumarrojha commented on #184
@Pritam-deb

We have validated this feature with Atmosphere pro fix/add_unknown_contact branch on the below configuration. Adding unknown contacts from transfer history is working as expected.

**Device Details:**
Device: MacBook Air
OS: macOS Monterey 12.5

[2022-09-14 10:02] ayushkumarrojha commented on #184
@Pritam-deb

We have validated this feature with Atmosphere pro fix/add_unknown_contact branch on the below configuration. below issue is observed when we close the keyboard.

![File_000](https://user-images.githubusercontent.com/106963334/190120231-30a1734b-9b3d-40f4-bafd-9179ccc2d3ed.png)

**Device Details:**
Device: iPhone XR
OS: iOS 15.6.1

[2022-09-15 08:37] Pritam-deb commented on #184
The fix have been added to the branch.

[2022-09-15 12:22] ayushkumarrojha commented on #184
@Pritam-deb

We have validated this feature with Atmosphere pro fix/add_unknown_contact branch on the below configuration. Adding unknown contacts from transfer history is working as expected.

Device Details:
Device: MacBook Air
OS: macOS Monterey 12.5

Device: iPhone XR
OS: iOS 15.6.1

[2022-09-19 13:12] sachins-geekyants commented on #188
Moving to backlog

[2022-09-19 13:15] sachins-geekyants commented on #186
@tinashe404 can we make sure, the new design of atmopsherePro addresses this change ?

Moving to waiting for upstream dependencies for now.

[2022-09-19 13:16] sachins-geekyants commented on #184
Moving to requires validation.

[2022-09-19 13:44] tinashe404 commented on #186
@sachins-geekyants This won't be an issue in the re-design however, the quicker solution would be to remove the play icon from the image. Do you have the image file?

[2022-09-26 15:53] tinashe404 opened #198 "UI Redesign - Desktop - Home and Send Screens"
**Description**
The task is to redesign the screens displayed when on the Home tab in the desktop app. These screens include:
- The welcome screen that shows your atSign
- The file selection feature on the home screen
- The "send to" screen that appears when selecting who to send files to
- The confirmation screen that files have successfully been sent
- The error screen displayed when files are n

[2022-09-26 15:56] tinashe404 opened #199 "UI Redesign - Mobile - Home and Send Screens"
**Description**
The task is to redesign the screens displayed when on the Home tab in the mobile app. These screens include:
- The welcome screen that shows your atSign
- The file selection feature on the home screen
- The "send to" screen that appears when selecting who to send files to
- The confirmation screen that files have successfully been sent
- The error screen displayed when files are no

[2022-09-26 15:57] tinashe404 opened #200 "UI Redesign - Desktop - Contacts"
**Description**
The task is to implement the new design for the screens displayed when on the Contacts tab in the desktop app. These screens include:
- The main contacts screen that displays all contacts
- The add contact screens (including showing whether an atSign is valid if possible)
- The search contacts screen

**Assets and Design Screens**
All assets and design screens have already been cre

[2022-09-26 16:00] tinashe404 opened #201 "UI Redesign - Mobile - Contacts"
**Description**
The task is to redesign the screens displayed when on the Contacts tab in the mobile app. These screens include:
- The main contacts screen that displays all contacts
- The add contact screens (including showing whether an atSign is valid if possible)
- The search contacts screen

**Assets and Design Screens**
All assets and design screens have already been created.
- The Figma des

[2022-09-26 16:25] tinashe404 opened #202 "UI Redesign - Desktop - Groups"
**Description**
The task is to redesign the screens displayed when on the Groups tab in the desktop app. These screens include:
- The main groups screen that displays all groups
- Creating a new group
- Editing a group
- Seeing everything you have sent to a group (would be nice to have but not needed)

**Assets and Design Screens**
All assets and design screens have already been created.
- The Fig

[2022-09-26 16:26] tinashe404 opened #203 "UI Redesign - Mobile - Groups"
**Description**
The task is to redesign the screens displayed when on the Groups tab in the mobile app. These screens include:
- The main groups screen that displays all groups
- Creating a new group
- Editing a group
- Seeing everything you have sent to a group (would be nice to have but not needed)

**Assets and Design Screens**
All assets and design screens have already been created.
- The Figm

[2022-09-26 16:32] tinashe404 opened #204 "UI Redesign - Desktop - Navigation Menu"
**Description**
The task is to implement the new design for the navigation menu in the desktop app.

**Assets and Design Screens**
All assets and design screens have already been created.
- The Figma design can be found here  https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=1%3A2
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmos

[2022-09-26 16:38] tinashe404 opened #205 "UI Redesign - Mobile _ Navigation Menu"
Description
The task is to implement the new design for the navigation menu in the mobile app.

Assets and Design Screens
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=2%3A3
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro

[2022-09-26 17:22] ksanty opened #206 "UI Redesign - Desktop - Onboarding"
Description
The task is to implement the new design for the onboarding menu in the desktop app.

Assets and Design Screens
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=1%3A2
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pr

[2022-09-26 18:32] ksanty opened #207 "UI Redesign - Mobile - Onboarding"
**Description**
The task is to implement the new design for the onboarding menu in the mobile app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=2%3A3
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosp

[2022-09-26 18:48] ksanty opened #208 "UI Redesign - Desktop - Transfer History"
**Description**
The task is to implement the new design for the transfer history menu in the desktop app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=1%3A2
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3

[2022-09-26 18:51] ksanty opened #209 "UI Redesign - Mobile - Transfer History"
**Description**
The task is to implement the new design for the transfer history menu in the mobile app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=2%3A3
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/

[2022-09-26 19:28] ksanty opened #211 "UI Redesign - Desktop - Settings"
**Description**
The task is to implement the new design for the settings menu in the desktop app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=1%3A2
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosph

[2022-09-26 19:35] ksanty opened #212 "UI Redesign - Mobile - Settings"
**Description**
The task is to implement the new design for the settings menu in the mobile app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=2%3A3
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphe

[2022-09-26 19:38] ksanty opened #213 "UI Redesign - Desktop - FAQ"
**Description**
The task is to implement the new design for the FAQ menu in the desktop app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=1%3A2
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-P

[2022-09-26 20:04] ksanty opened #214 "UI Redesign - Desktop - Terms & Conditions"
**Description**
The task is to implement the new design for the Terms & Conditions menu in the desktop app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=1%3A2
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2

[2022-09-26 20:18] ksanty opened #215 "UI Redesign - Desktop - Blocked atSign"
**Description**
The task is to implement the new design for the Blocked atSign menu in the desktop app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=1%3A2
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/A

[2022-09-26 20:20] ksanty opened #216 "UI Redesign - Desktop - Trusted Senders"
**Description**
The task is to implement the new design for the Trusted Senders menu in the desktop app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=1%3A2
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/

[2022-09-26 20:24] ksanty opened #217 "UI Redesign - Desktop - My Files"
**Description**
The task is to implement the new design for the My Files menu in the desktop app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=1%3A2
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosph

[2022-09-26 20:26] ksanty opened #218 "UI Redesign - Mobile - My Files"
**Description**
The task is to implement the new design for the Files menu in the mobile app.

**Assets and Design Screens**
All assets and design screens have already been created.

- The Figma design can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=2%3A3
- The Assets required can be found here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-

[2022-09-26 20:50] ksanty opened #219 "UI Redesign - Mobile - FAQ's"
**Description**
The task is to implement the new design for the screens displayed on the FAQ navigation in the mobile app.

**Assets and Design Screens**
All assets and design screens have already been created.
- The Figma **FAQ** design can be found here under **SETTINGS** https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=2%3A3
- The Assets required can be found here https:

[2022-09-26 20:52] ksanty opened #220 "UI Redesign - Mobile - Terms & Conditions"
**Description**
The task is to implement the new design for the screens displayed on the Terms & Conditions navigation in the mobile app.

**Assets and Design Screens**
All assets and design screens have already been created.
- The Figma **TERMS & CONDITIONS** design can be found here under **SETTINGS** https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=2%3A3
- The Assets req

[2022-09-26 20:55] ksanty opened #221 "UI Redesign - Mobile - Blocked atSigns"
**Description**
The task is to implement the new design for the screens displayed on the FAQ navigation in the mobile app.

**Assets and Design Screens**
All assets and design screens have already been created.
- The Figma **BLOCKED atSIGNS** design can be found here under **CONTACTS** https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=2%3A3
- The Assets required can be found

[2022-09-26 20:57] ksanty opened #222 "UI Redesign - Mobile - Trusted Senders"
**Description**
The task is to implement the new design for the screens displayed on the Trusted Senders navigation in the mobile app.

**Assets and Design Screens**
All assets and design screens have already been created.
- The Figma **TRUSTED SENDERS** design can be found here under **CONTACTS** https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=2%3A3
- The Assets required

[2022-09-27 14:47] #20 closed

[2022-09-29 12:16] ruqaiyasattar commented on #222
are these 6 screens? Do all 6 screens need to be redesigned??

[2022-09-29 12:33] tanmoy27112000 commented on #220
@ksanty I would like to work on this UI

[2022-09-29 12:42] tanmoy27112000 commented on #221
@ksanty I want work on this issue

[2022-09-29 12:43] tanmoy27112000 commented on #219
@ksanty I would like to work on this issue

[2022-09-29 12:45] tanmoy27112000 commented on #214
@ksanty I would like to work on this feature

[2022-09-29 13:02] ruqaiyasattar commented on #220
I would love to redesign settings UI

[2022-09-29 13:07] ruqaiyasattar commented on #219
I would like to work on this issue..., its my first time..can you guide me how do I send pull request?

[2022-09-29 13:08] ruqaiyasattar commented on #218
interested

[2022-09-29 13:18] mkobuolys commented on #212
Hey, I would love to contribute to this 💙

[2022-09-29 14:38] Wave780 commented on #207
@ksanty I want this issues

[2022-09-29 18:50] Chandram-Dutta commented on #212
Has any work been done in the ui_redesign branch? as i didnt find any difference from the main branch in terms of assets or screens or code??

[2022-09-29 18:59] ksanty commented on #222
@codestranaut feel free to assign yourself to the ticket if you're interested in working on.

[2022-09-29 19:02] ksanty commented on #222
Just the one screen that is under the title Trusted Senders @ruqaiyasattar.

[2022-09-29 19:03] ksanty commented on #221
Great!  Let us know if you have any questions.  Thanks for assigning yourself.  :-)

[2022-09-29 19:04] ksanty commented on #220
Great.  Thanks so much.  Let us know if you have questions.

[2022-09-29 19:05] ksanty commented on #220
Hi there, the screens posted are already redesigned and ready for implementation.  What enhancements are you proposing?  Thank you!

[2022-09-29 19:59] ksanty commented on #219
Great!  Let us know if you have any questions.

[2022-09-29 20:02] ksanty commented on #219
Hi @ruqaiyasattar since it is just one screen and it looks like @tanmoy27112000 came in first, I've asked him to start first.  As for how to send a pull request, we have a template to use, which will pull up when you initiate the PR.  Go ahead and respond to the questions in the template for any issues you are working on.

[2022-09-29 20:03] ksanty commented on #218
Great!  Let us know if you have any questions.

[2022-09-29 20:04] ksanty commented on #214
Great!  I've assigned the ticket to you.  Let us know if you have any questions.

[2022-09-29 20:08] ksanty commented on #212
@tinashe404 not sure are you able to respond.

[2022-09-29 20:08] ksanty commented on #207
Great!  Let us know if you have any questions.

[2022-09-29 20:18] ksanty commented on #219
@ruqaiyasattar and @tanmoy27112000 please both of you feel free to work on!!  :-)

[2022-09-29 20:30] Wave780 commented on #207
Okay, I hope it's only the user interface

[2022-09-29 20:33] ksanty commented on #207
It is only the UI which have already been redesigned.  @tinashe404 any other context here since he taking on an advanced task?

[2022-09-29 20:47] Wave780 commented on #207
I'm trying to understand the code base, I hope it is the welcome screen I can do the onboarding screen

[2022-09-29 21:21] tanmoy27112000 commented on #219
@ksanty thanks

[2022-09-29 21:36] tinashe404 commented on #212
@Chandram-Dutta No, no work has been done yet. Anyone working on the redesign will be working from that branch

[2022-09-29 21:39] Chandram-Dutta commented on #212
@tinashe404 Ok...Cool, I have started working on it, added fonts and backgrounds (as in Figma File), will PR as I complete.

[2022-09-29 22:03] tinashe404 commented on #212
@Chandram-Dutta Sounds good! Let us know if you have any other questions.

[2022-09-29 22:05] Chandram-Dutta commented on #212
Hey, @tinashe404 I pushed the changes in font and background in PR #224. Kindly review and if possible merge it. Happy Hacktoberfest!!!

[2022-09-29 22:13] tinashe404 commented on #207
@Wave780 This ticket pertains to the 7 screens which are in the Onboarding section in the Figma design here https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=2%3A3

[2022-09-29 22:42] Chandram-Dutta commented on #212
@ksanty Can you please assign this issue to me. I have the code ready(will push it on 1st October to qualify for the hacktoberfest)

[2022-09-29 22:44] ksanty commented on #212
Fabulous.  You're assigned now.

[2022-09-30 00:31] ngbede commented on #203
Hello, thanks for the details on the ticket. I would like to work on this.

[2022-09-30 00:49] tinashe404 commented on #203
@ngbede sure, please go ahead and assign it yourself and let us know if you have any questions

[2022-09-30 01:13] ngbede commented on #203
thank you, although I think you or a member of the org has to assign me the ticket though. No option to self-assign on my end.

[2022-09-30 01:32] ksanty commented on #203
@ngbede is assigned now.

[2022-09-30 04:43] Chandram-Dutta commented on #209
Hey, i want to work on this?

[2022-09-30 04:50] ksanty commented on #209
Great!  I've assigned you.  Let us know if you have any questions.

[2022-09-30 05:11] AdiAr11 commented on #205
Hi, Can I work on this issue?

[2022-09-30 07:03] AdiAr11 commented on #205
Also, I dont have to create a fork right. Just have to create a new branch from UI_Redesign branch and create a PR, right?

[2022-09-30 07:31] AdiAr11 commented on #199
Can I try this as well after I complete the navigation menu?

[2022-09-30 10:54] hemish11 commented on #217
Hey, @ksanty Im interested to work on it!!!

[2022-09-30 10:55] hemish11 commented on #217
Do I make a WIP Pr for it?

[2022-09-30 10:58] hemish11 commented on #216
I'm interested in it, can you please assign it to me?

[2022-09-30 10:59] hemish11 commented on #215
I would like to work on this!!!

[2022-09-30 10:59] hemish11 commented on #213
Hey, I'm interested to work in this issue!!!

[2022-09-30 13:59] tinashe404 commented on #213
@hemish11 sure, please go ahead and let us know if you have any questions

[2022-09-30 14:02] tinashe404 commented on #205
@AdiAr11 Yes to both of your questions.

[2022-09-30 14:03] tinashe404 commented on #199
@AdiAr11 sure you can

[2022-09-30 14:57] AdiAr11 commented on #205
@tinashe404 Thank you!

[2022-09-30 14:58] AdiAr11 commented on #199
@tinashe404 Thank you !!

[2022-09-30 15:00] AdiAr11 commented on #211
This is for the web app right? Like I will have to run it on chrome? Can I work on this as well?

[2022-09-30 15:06] AdiAr11 commented on #211
Sorry, tested it and it is a desktop app only. Can I work on this issue?

[2022-09-30 15:17] tinashe404 commented on #211
@AdiAr11 sure

[2022-09-30 15:20] AdiAr11 commented on #211
Hi, I think there is nothing much in the settings screen besides the background and a search button. Should I first create the navigation menu in the left and add the settings screen after that?
Also is there a discord group or something so that I can communicate with you faster?
Thank you!

[2022-09-30 19:36] tanmoy27112000 commented on #220
@ksanty  in the sigma design I can see that only one screen it there the page when we navigate to using T&C button is not present. can you help me with this

[2022-09-30 19:38] tanmoy27112000 commented on #219
@tanmoy27112000  same with this the actual FAQ page is not present in the settings section. Please review this

[2022-09-30 21:22] DoraTheExplorax commented on #215
can you assign me this issue?

[2022-10-01 07:01] Chandram-Dutta commented on #212
@ksanty #224 fixes this. Hope it gets qualified for Hacktoberfest!!

[2022-10-01 09:49] godsakani commented on #201
please I wish to work on this issue

[2022-10-01 11:44] ketanvishwakarma commented on #208
@ksanty I would like to work on this feature

[2022-10-01 12:00] ketanvishwakarma commented on #206
@ksanty I would like to work on this feature

[2022-10-01 12:05] ketanvishwakarma commented on #204
@ksanty I'd like to work on this issue; could you please assign it to me?

[2022-10-01 16:12] BAGEERADHAN commented on #204
@tinashe404  I would like to contribute to this issue. Can you assign this to me

[2022-10-01 18:29] akarsh-jain-790 commented on #200
@tinashe404  I would love to work on this.

[2022-10-01 18:37] hemish11 commented on #213
@tinashe404 Do I fork the repo or branch out of the redesign branch?

[2022-10-02 01:57] ksanty commented on #220
@tanmoy27112000 that's correct.  All the assets are under the Design Systems link as stated above - https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=0%3A1

[2022-10-02 02:02] ksanty commented on #219
@tanmoy27112000 this is for navigation buttons. Be sure to see the Design Systems page - https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=0%3A1.  @Dariamarg can help direct you to any code as she stated in her text message in Figma.
<img width="738" alt="image" src="https://user-images.githubusercontent.com/74563278/193434669-a95bfb10-96bc-4d6f-ba29-27c6efe7e68a.png">

[2022-10-02 02:27] ksanty commented on #217
Thanks, @hemish11 I've assigned you to the task.  Let us know if you have any questions.

[2022-10-02 02:28] ksanty commented on #215
Hi @DoraTheExplorax I've assigned this issue to you.  @hemish11 Since you already have 3 tasks, I've assigned this one to @DoraTheExplorax.  :-)

[2022-10-02 02:31] ksanty commented on #217
Not sure what you mean.  I just assigned you.

[2022-10-02 02:31] ksanty commented on #216
@hemish11 I've assigned to you.  Let us know if you have any questions.

[2022-10-02 02:37] ksanty commented on #211
@AdiAr11 the graphics are already created under the Design Systems link - https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=0%3A1

[2022-10-02 02:38] ksanty commented on #208
Sure @ketanvishwakarma - I've assigned you.  Let us know if you have any questions.

[2022-10-02 02:41] ksanty commented on #204
@ketanvishwakarma @BAGEERADHAN I've assigned you both to the issue.

[2022-10-02 02:42] ksanty commented on #201
@godsakani I've assigned you.  Please let us know if you have any questions.

[2022-10-02 02:45] ksanty commented on #200
@akarsh-jain-790 Great! I've assigned you.  Let us know if you have any questions.

[2022-10-02 03:21] BAGEERADHAN commented on #204
@ksanty sorry to say that I'm unable to run the code over my system, can you help with that?

[2022-10-02 03:26] niyoj commented on #206
Hello @ksanty, I have made very few contribution in open source so far but from this october I want to kickstart my contributions. Can you please tell me how to implement he design in basic?

[2022-10-02 04:21] tanmoy27112000 commented on #219
@ksanty thanks

[2022-10-02 05:40] godsakani commented on #201
ok thank you

[2022-10-02 06:42] AdiAr11 commented on #211
Hi. yes I've seen the design. https://www.figma.com/file/gnhrfcg8OYvAz0zJXZz2r3/Atmosphere-Pro?node-id=1%3A2
If you see here the settings page for desktop doesn't have much except a background and a search icon. is it in development or is that what i have to make?
Thank you

[2022-10-02 09:15] adilwahla commented on #206
@ksanty I will do this assign me please

[2022-10-02 11:41] anmol-Git commented on #198
Hi, I am Interested and happy to contribute to this issue, but I need some time to complete it as it requires handling responsiveness, also can you please consider it the tag to hacktoberfest-special because it will take me a considerable time?

[2022-10-02 15:46] Aniket-508 commented on #202
Hi, I want to work on this issue. Can you please assign me? @tinashe404

[2022-10-02 17:49] UtkarshDeoli commented on #202
hey i too would like to work on this project under Hacktober ?
@tinashe404

[2022-10-03 13:24] tinashe404 commented on #213
@hemish11 please branch out of the redesign branch.

[2022-10-03 13:26] tinashe404 commented on #204
@BAGEERADHAN please could you tell us the issue/issues you are facing? Any error messages?

[2022-10-03 13:53] Jainakin commented on #222
Hey, I would love to work on this. I have read and understood the task. Can you please assign it to me.
Thank You

[2022-10-03 14:46] tinashe404 commented on #211
@AdiAr11 Apologies, the detail on this was missed. It needs to have functionality to allow people to switch atSign, delete atSign and backup their keys. You can refer to the current version of the app to see how this functionality works. For now it could be 3 buttons as shown in the mobile version, but if you would like to create the screens for the functionality, that would be fine too. We would

[2022-10-03 15:37] Becca-Saka commented on #222
Hi, I worked on this issue and created a pull request. This is my first time contributing, do I need to be assigned an issue before creating a pull request?

[2022-10-03 16:52] AkhileshManda commented on #198
Hi, can I work on this issue if hasn't been assigned yet?

[2022-10-04 06:13] AdiAr11 commented on #211
@tinashe404 Sure, I'll take a look at the mobile app and take inspiration from there. Thank you

[2022-10-04 08:52] adilwahla commented on #206
well I am working on Mobile not Desktop my bad :) you can assign desktop to anyone else I am working for mobile

[2022-10-04 08:59] adilwahla commented on #207
would love to contribute in this issue we can split it @tinashe404 what do you think?

[2022-10-04 09:07] Wave780 commented on #207
I'm still on it, but you can split it, so I can know where to cover

[2022-10-04 09:40] adilwahla commented on #207
cool let me know what you have covered so far?

[2022-10-04 09:45] adilwahla commented on #207
total 6 of same kind we can split by 3? which one will you pick

[2022-10-04 10:44] Wave780 commented on #207
I will go for the first 3

[2022-10-04 11:30] Ayush783 commented on #218
Hey. Can I also work on this or is there a ticket reservation?

[2022-10-04 11:32] adilwahla commented on #207
cool 👍  we both should update to keep whole code refactored timely

[2022-10-04 11:35] AM1CODES commented on #218
I would love to contribute to this. Is there a way we can work on this together or we can all give this a shot and make a PR?

[2022-10-04 14:24] tinashe404 commented on #218
@Ayush783 yes you can work on it if you'd like. I've assigned it to you too

[2022-10-04 14:25] tinashe404 commented on #218
@AM1CODES that is allowed, however we wouldn't be able to make the connection for you. If you reach out to the other contributors and they are willing to work with you, then please go ahead.

[2022-10-04 14:27] tinashe404 commented on #207
Yes, feel free to collaborate in whatever way works best for you.

[2022-10-04 14:32] tinashe404 commented on #198
@anmol-Git Responsiveness would be a bonus however, if for not you implemented it without, that would be okay too. I will speak to our team with regards to changing the tag

[2022-10-04 14:37] adilwahla commented on #207
Thanks for assigning me
I was thinking i should code for android & for iOS @Wave780 has already started. Just give me go ahead call for android :)
what are you thoughts!

[2022-10-04 14:50] tinashe404 commented on #207
@adilwahla sure. If @Wave780 is on board, please go ahead.

[2022-10-04 15:25] adilwahla commented on #207
Thanks <3

[2022-10-04 18:18] keyurgit45 commented on #200
I would like to work on this issue! @tinashe404

[2022-10-04 18:27] tinashe404 commented on #200
@keyurgit45 sure

[2022-10-04 20:41] Ayush783 commented on #218
Great! Thanks

[2022-10-05 07:08] AM1CODES commented on #218
Thank you!

[2022-10-05 13:47] Codesait commented on #221
is this task still open ? or can I still take up this task 🙏🏽

[2022-10-05 13:51] Codesait commented on #206
@ksanty I will love to work on this task 🙏🏽. please assign this to me.

[2022-10-05 18:16] Jainakin commented on #222
Hey @ksanty I have completed my assigned task. Please give me feedback for correction if any.
Thank You

[2022-10-06 05:59] tanmoy27112000 commented on #221
I am working on it

[2022-10-06 06:55] Kunalpal215 commented on #209
Can you assign this issue to me ?

[2022-10-06 06:55] Jainakin commented on #221
Hey, I would love to work on this issue. Can you please assign it to me.
Thank You

[2022-10-06 07:48] ruqaiyasattar commented on #219
I have created the screen but I have windows...i don't have an iPhone simulator to check...
![settings](https://user-images.githubusercontent.com/12498051/194248379-4df24075-0bf8-4a62-a194-825f5a071ef4.jpeg)

[2022-10-06 15:53] tinashe404 commented on #206
@Codesait Done. Please let us know if you have any questions.

[2022-10-06 16:59] Jainakin commented on #222
Hey @tinashe404 I have completed my assigned task and created a pull request on the ui_redesign branch this time.
Please give me feedback for corrections if any.
Thank You

[2022-10-06 17:04] UtkarshDeoli commented on #202
@Aniket-508  hey we both were assigned to this let's devide the work and start doing it?

[2022-10-06 18:10] Jainakin commented on #222
Can you please check my pull request.
Thank You

[2022-10-06 19:05] Codesait commented on #206
I will start immediately. I will reach out if have any questions .

[2022-10-06 20:18] Codesait commented on #206
I need help pointing me to the right onboarding class 🙏🏽

<img width="386" alt="Screenshot 2022-10-06 at 9 17 32 PM" src="https://user-images.githubusercontent.com/37216036/194410225-b958046a-ddff-44cf-a935-b1f035207aa9.png">

[2022-10-06 20:21] Codesait commented on #206
@tinashe404 I believe this is the ui I will be redesigning;

<img width="1199" alt="Screenshot 2022-10-06 at 9 20 15 PM" src="https://user-images.githubusercontent.com/37216036/194410882-7a636d8b-d764-4d66-b03e-6ab707094637.png">

[2022-10-06 20:54] tinashe404 commented on #206
@Codesait Yes that is correct

[2022-10-06 21:00] Codesait commented on #206
@tinashe404 I still need help finding the right class .

[2022-10-06 21:21] tinashe404 commented on #206
@nitesh2599 Please assist?

[2022-10-06 23:19] davidaodejobi commented on #215
@ksanty well-done. If there i any I could work too... I've searched but it seems everything ha been picked.

[2022-10-06 23:22] davidaodejobi commented on #201
I don't know if godsakani i still working on this, but I'm interested just incase he' not.

[2022-10-07 03:34] godsakani commented on #201
I am working on it

[2022-10-07 08:08] davidaodejobi commented on #201
@godsakani that's okay 😃...

[2022-10-07 12:20] Codesait commented on #206
@ksanty @nitesh2599 please hello me locate the right class folder for this task. I need to get started with this task 🙏🏾🙏🏾

[2022-10-07 12:26] nitesh2599 commented on #206
@Codesait For desktop it uses `custom_onboarding.dart` located in `lib/screens/common_widgets/custom_onboarding.dart`.

[2022-10-07 13:35] Codesait commented on #206
Okay thanks 😊.

[2022-10-07 14:06] tinashe404 commented on #219
@ruqaiyasattar please create a PR and we will check.

[2022-10-07 14:09] tinashe404 commented on #215
@davidaodejobi If there is only person assigned, we are happy to assign you too and you we will accept the most accurate PR submitted.

[2022-10-07 14:15] davidaodejobi commented on #215
Okay, I will tag you on some now that I can find that have only a person working on them. Thanks for responding

[2022-10-07 14:22] davidaodejobi commented on #220
Can you assign this to me @tinashe404? Seems there is only a person working on this... thank you

[2022-10-07 14:29] ruqaiyasattar commented on #219
Okay

On Fri, Oct 7, 2022, 7:06 PM Tinashe ***@***.***> wrote:

[2022-10-07 14:40] Jainakin commented on #222
@tinashe404 Check this new pull request.
Thank You

[2022-10-07 14:44] Harishwarrior commented on #35
+1

[2022-10-07 14:45] Harishwarrior commented on #30
Can I get assigned to this?

[2022-10-07 14:58] tinashe404 commented on #30
This is no longer an issue

[2022-10-07 14:58] #30 closed

[2022-10-07 14:59] Harishwarrior commented on #30
Ohh. It was mentioned in twitter.

[2022-10-07 16:39] Jainakin commented on #221
Hey @tinashe404, I have completed my assigned task. Please provide feedback for improvements if any./
Thank You

[2022-10-07 18:03] tanmoy27112000 commented on #221
Created the PR for the issue @tinashe404 @ksanty  you can review it

[2022-10-08 17:57] Codesait commented on #206
Hi @nitesh2599 @tinashe404

I encountered a blocker which is that the class or green I should be modifying is a package which I don't have access or permissions to edit.

<img width="887" alt="Screenshot 2022-10-08 at 6 52 06 PM" src="https://user-images.githubusercontent.com/37216036/194720966-78d311e1-20a1-4d92-9cba-62ba5ee21822.png">

<img width="490" alt="Screenshot 2022-10-08 at 6 57 12 PM" s

[2022-10-08 18:00] Codesait commented on #206
Not surprised why I could't find it in app lib dir.

I have started working on the screen as a new screen.

[2022-10-09 18:56] bhattabhi013 commented on #208
Hi @ketanvishwakarma,
Can I work on this with you?

[2022-10-10 19:13] ketanvishwakarma commented on #204
Hello, @tinashe404. Thank you for assigning this task to me. I'd like to inform you that I've created a PR for this issue [here](https://github.com/atsign-foundation/atmosphere_pro/pull/238). Please review and provide feedback as soon as you get a chance. Happy Hacktoberfest!!

[2022-10-11 08:24] Wave780 commented on #207
Can we be communicating here or do you have any other platform

On Tue, Oct 4, 2022, 12:32 PM Adil Rehman ***@***.***> wrote:

[2022-10-12 11:09] tanishk-23 commented on #214
@ksanty Can you assign this issue to me?

[2022-10-12 16:27] ksanty commented on #212
Issue now merged and approved.

[2022-10-12 16:27] #212 closed

[2022-10-13 13:32] hitchhicker007 commented on #216
@ksanty I want to work on this issue, can you please assign it to me?

[2022-10-15 10:09] shwetavish commented on #219
@ksanty Can I work on it as the PR is not generated for it.

[2022-10-25 14:51] AdiAr11 commented on #211
Hi @tinashe404 I'm sorry but this issue was assigned to me and I also have started working on this.

[2022-10-27 15:46] tinashe404 commented on #205
This is complete!

[2022-10-31 20:28] tinashe404 commented on #204
Closing this as it has been completed by @ketanvishwakarma!

[2022-10-31 20:28] #204 closed